{% extends 'base.html'  %}

{%block content%}
<div class="container bg-light rounded">
    <div class="mt-4 pt-4 mb-4 pb-4 text-center">
        <h1>{{object.nome}}</h1>
    </div>
    <div class="text-center mb-4">
        <h6>Informações </h6><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto eius ipsum, molestias nobis odit officia recusandae reprehenderit sint sit soluta suscipit veritatis vero? Aliquam nobis officia rerum vero voluptatibus.</p>
    </div>
    <div class="mb-4 pb-4">
        <h6>Data de início: {{object.data_inicio}}</h6>
        <h6>Data de término: {{object.data_termino}}</h6>
        <h6>Premiação:{{object.data_termino}}</h6>
    </div>
    <div class="text-center">
        <h2 class="mb-4 mt-4">Equipes Inscritas</h2>
    </div>
    <div class="row mt-4 pt-4">
        {% for campeonato in equipes %}
        {% for equipes in campeonato.equipes_inscritas.all %}
        <div class="col-3">
            <b>{{equipes}}</b>
        </div>

        {% endfor %}
        {% endfor %}
    </div>

</div>
<footer class="py-5 bg-dark fixed-bottom">
            <div class="container"><p class="m-0 text-center text-white">Copyright © GGPlataform 2021</p></div>
 </footer>
{%endblock%}