{% load static %}
<div class="container">
            <!-- Jumbotron Header-->
            <header class="jumbotron my-4 bg-dark">
                <h5 class="display-3 text-light">Melhore sua experiência jogando CS:GO com a nossa ajuda!</h5>

            </header>
            <!-- Page Features-->
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'images/vagas.jpg'%}" alt="..." height="40%" />
                        <div class="card-body">
                            <h4 class="card-title">Vagas Disponíveis</h4>
                            <p class="card-text">Visualize as vagas disponíveis para você ter a chance de entrar em uma equipe!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary" href="#!">Ir até vagas!</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://png.pngitem.com/pimgs/s/154-1546075_team-icon-hd-png-download.png" alt="..." height="40%" />
                        <div class="card-body">
                            <h4 class="card-title">Equipes</h4>
                            <p class="card-text">Visualize as equipes cadastradas na plataforma ou crie a sua própria!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary" href="#!">Ir até equipes</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top bg-light " src="{% static 'images/jogadores.png'%}"  alt="..." height="40%" />
                        <div class="card-body">
                            <h4 class="card-title">Jogadores</h4>
                            <p class="card-text">Visualize os jogadores cadastrados na plataforma, você tem a opção de filtrar por jogadores
                                que estão em busca de algum time.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary" href="#!">Ir Até Jogadores</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/425-4259934_trofeu-vetor-hd-png-download.png" alt="..." height="40%" />
                        <div class="card-body">
                            <h4 class="card-title">Campeonatos</h4>
                             <p class="card-text">De uma olhada nos campeonatos que estão rolando no momento ou que ainda irão acontecer!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary" href="#!">Ir até Campeonatos!</a></div>
                    </div>
                </div>
            </div>
</div>