{% extends 'base.html' %}

{%block content%}
<div class="container">
    <div class="mt-4">
        <h2>Inscrever Equipe</h2>
    </div>
    <div class="mt-4">
        <p>Confirme sua inscrição no campeonato {{object.nome}}</p>
    </div>
    <div class="">
        <form method="POST" class="post-form" action="{%url 'inscreverEquipe' object.id%}" >
        {% csrf_token %}
       <input type="hidden" class="form-control" name="campeonato" value="{{object.id}}">
        <button type="submit" class="save btn btn-primary mt-4">Confirmar</button>
            <a href="{% url 'campeonatos' %}" class="btn  btn-warning ">Cancelar</a>

    </form>
    </div>

</div>

<footer class="py-5 bg-dark fixed-bottom">
            <div class="container"><p class="m-0 text-center text-white">Copyright © GGPlataform 2021</p></div>
 </footer>
{%endblock%}