{% extends 'base.html'  %}

{%block content%}

<div class="content mb-4">
    <div class="container">
        <div class="row mt-4 pt-4">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb mt-4 ">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Jogadores</li>
                          </ol>
                 </nav>
            </div>
        </div>

        </nav>
        <div class="row mt-4 mb-4">
            <div class="col-lg-6">
               <select class="form-select" aria-label="Default select example">
                  <option selected>Filtar por</option>
                  <option value="1">Jogadores buscando equipes</option>
                  <option value="2">AWP</option>
                  <option value="3">Lurker</option>
                   <option value="4">Capitão</option>
                   <option value="5">Suporte</option>
                   <option value="6">Entry Fragger</option>
                </select>
            </div>
            <div class="col-lg-6 ">
                <form class="example float-right" action="action_page.php">
                  <input type="text" placeholder="Procurar" name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>


            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            {% for j in object_list %}
            <div class="col-lg-4">
                <div class="text-center card-box bg-light rounded">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user_headphones.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h3>{{j.nickname}}</h3>
                            <p class="m-0 "><b>Patente:</b> {{j.patente}}</p>
                            <p class="m-0"><b>Nivel de Habilidade:</b> {{j.nivelHabilidade}}</p>
                            <p class="m-0"><b>Função: </b>{{j.funcao_jogador}}</p>
                            {% if j.equipe_jogador%}
                            <p class="m-0"><b>Equipe: </b> <a href="{%url 'detailEquipe' j.equipe_jogador_id%}">{{j.equipe_jogador}}</a></p>
                            {%else%}
                            <p class="m-0"><b>Equipe:</b> Nenhuma</p>
                            {%endif%}
                        </div>
                        <a href="{{j.steam}}" class="btn btn-dark btn-sm mt-3" role="button">Entre em contato</a><br>
                        <a href="{%url 'detailJogador' j.id%}" class="btn  btn-secondary btn-sm mt-1 " role="button">Ver perfil</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!-- end row -->
            <!-- end col -->
        </div>

        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <ul class="pagination pagination-split mt-0 float-right">
                       {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                            {% endif %}

                            <li class="page-item">
                                <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                            </li>

                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
{% include 'footer.html' %}
{%endblock%}

