{% extends 'base.html'  %}

{%block content%}

<div class="content mb-4">
    <div class="container">
        <div class="row mt-4 pt-4">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb mt-4 ">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Jogadores</li>
                          </ol>
                 </nav>
            </div>
        </div>

        </nav>
        <div class="row mt-4 mb-4">
            <div class="col-lg-6">
               <select class="form-select" aria-label="Default select example">
                  <option selected>Filtar por</option>
                  <option value="1">Jogadores buscando equipes</option>
                  <option value="2">AWP</option>
                  <option value="3">Lurker</option>
                   <option value="3">Capitão</option>
                   <option value="3">Suporte</option>
                   <option value="3">Entry Fragger</option>
                </select>
            </div>
            <div class="col-lg-6 ">
                <form class="example float-right" action="action_page.php">
                  <input type="text" placeholder="Procurar" name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>


            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            {% for j in jogadores %}
            <div class="col-lg-4">
                <div class="text-center card-box bg-light rounded">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user_headphones.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h3>{{j.nickname}}</h3>
                            <p class="m-0 "><b>Patente:</b> {{j.patente}}</p>
                            <p class="m-0"><b>Nivel de Habilidade:</b> {{j.nivelHabilidade}}</p>
                            <p class="m-0"><b>Função: </b>{{j.funcao_jogador}}</p>
                            {% if j.equipe_jogador%}
                            <p class="m-0"><b>Equipe: </b><a href="">{{j.equipe_jogador}}</a></p>
                            {%else%}
                            <p class="m-0"><b>Equipe:</b> Nenhuma</p>

                            {%endif%}

                        </div>
                        <a href="{{j.steam}}" class="btn btn-dark btn-sm mt-3" role="button">Entre em contato</a><br>
                        <a href="{%url 'detailJogador' j.id%}" class="btn  btn-secondary btn-sm mt-1 " role="button">Ver perfil</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!-- end row -->
            <!-- end col -->
        </div>

        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <ul class="pagination pagination-split mt-0 float-right">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
{% include 'footer.html' %}
{%endblock%}

