{% extends 'base.html'  %}

{%block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />


<div class="container bootdey mt-4 pt-4">
    <nav aria-label="breadcrumb  mb-4 ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Equipes</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{object.nome}}</li>
          </ol>
 </nav>
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mt-4 mb-4">{{object.nome}}</h3>
                    <b>Descrição</b><p class=" para-desc mx-auto mb-0">{{object.descricao}}</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    <div class="row">
    {% for team in membros %}
    {% for membros in team.membros.all %}

                <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user_headphones.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-0">{{membros}}</h4>
                        </div>
                    </div>
                </div><!--end col-->
    {% endfor %}
    {% endfor %}
    </div>
    {% if user.is_dono and object.dono == user%}
    <div class="row">
        <div class="col text-center pt-4 mt-4">
            <button type="button" class="btn btn-dark">Adicionar Membro</button>
            <button type="button" class="btn btn-secondary">Anunciar Vaga</button>
            <button type="button" class="btn btn-warning">Gerenciar Equipe</button>
        </div>
    </div>
    {%endif%}
</div>

 <footer class="py-5 bg-dark fixed-bottom">
            <div class="container"><p class="m-0 text-center text-white">Copyright © GGPlataform 2021</p></div>
 </footer>
{%endblock%}